.headClass {
    margin: 0px;
    background-color: red;
    height: 125px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name {
    background-color: aqua;
    display: flex;
    align-items: center;
    padding: 5px;
    color: blue;
    font-size: 20px;
    width: 150px;
    height: 50px;
    text-align: center;
}


.albuns {
    margin: 0px;
    background-color: pink;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-around;
}

.album {
    margin: 10px;
    width: 360px;
    display: flexbox;
    background-color: red;
}

.imgAlbum {    
    background-color: rgb(176, 127, 255);
    width: 350px;
    padding: 5px;;
}

.albumScale {

    width: 120%;background-color: red;
}

.text-center {
    text-align: center;
}


.test {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.imgs {
    margin: 15px;
    background-color: black;
    display:flexbox;
    flex-direction: column;
    justify-content: center;
    
    padding: 10px;
}

.colorRed {
    color: red;
}

.size40 {
    font-size: 40px;
}

.table {
    background-color: aqua;
    padding-left: 25px;
    padding-right: 25px;
}