@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');


.tittles {
    padding-top: 50px;
}

.testemenu {
    height: 150px;
    background-color: black;
}

.headClass {
    margin: 0px;
    background-color: red;
    height: 125px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name {
    background-color: aqua;
    display: flex;
    align-items: center;
    padding: 5px;
    color: blue;
    font-size: 20px;
    width: 150px;
    height: 50px;
    text-align: center;
}

.backGround-black {
    background-color: black;
}

.backGround-red {
    background-color: red;
}

.slider {
    background-color: red;
    
    height: 100vh;
}

.slider_img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.slider_text {
    padding-left: 5%;
    padding-right: 5%;
    background-color: rgb(218, 218, 218, 0.5);
    width: max-content;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0px;
    right: 0px;
    bottom: 75px;
    text-align: center;
}

.slider_indicator{
    background-color: rgb(254, 254, 18254, 0.5);
    position: absolute;
    width:max-content;
    height: 25px;
    margin-left: auto;
    margin-right: auto;
    left: 0px;
    right: 0px;
    bottom: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.slider_indicator_in{
    margin: 5px;
    background-color: white;
    width: 40px;
    height: 4px;
    
}

.slider_indicator_in_active{
    margin: 5px;
    background-color: grey;
    width: 40px;
    height: 4px;
}



.slide-text {
    background-color: red;
    width: 250px;
    color: black;
    opacity: 80%;
    font-size: 22px;
    font-weight: bold;
}



.carousel-indicators-width {
    width: 150px;
}

.apresentation {
    background-color: aquamarine;
    display: flex;
    justify-content: center;
}

.apresent_Image {
    margin-top: 50px;
    width: 100%;
    height: 110%;
    align-items: center;
}

.portfolio {
    background-color: rgb(221, 221, 221);
}

.albuns {
    margin: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-around;
}

.album {
    margin: 30px;
    width: 350px;
    display: flexbox;
    justify-content: center;
    background-color: rgb(233, 233, 233);
}

.albumMouseOver {
    margin: 30px;
    width: 350px;
    display: flexbox;
    background-color: rgb(243, 243, 243);
    filter:drop-shadow(rgb(197, 197, 197) 10px 10px 5px);
    object-position: 15px 15px ;
    cursor: pointer;
}

.albumMouseOnClick {
    margin: 30px;
    width: 350px;
    display: flexbox;
    justify-content: center;
    background-color: rgb(225, 81, 81);
}

.imgAlbum {    
    background-color: rgb(176, 127, 255);
    width: 350px;
    display: flex;
    flex-direction: row;
    justify-content: center;    
}

.albumScale {

    width: 120%;background-color: red;
}

.text-center {
    text-align: center;
}


.test {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.showreel {
    background-color: rgb(199, 199, 199);
    height: 400px;
}


.youtube {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-around;
}


.imgs {
    margin: 15px;
    background-color: black;
    display:flexbox;
    flex-direction: column;
    justify-content: center;
    
    padding: 10px;
}

.colorRed {
    color: red;
}

.size40 {
    font-size: 40px;
}

.table {
    background-color: aqua;
    padding-left: 25px;
    padding-right: 25px;
}