@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');


.testemenu {
    height: 150px;
    background-color: black;
}

.headClass {
    margin: 0px;
    background-color: red;
    height: 125px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name {
    background-color: aqua;
    display: flex;
    align-items: center;
    padding: 5px;
    color: blue;
    font-size: 20px;
    width: 150px;
    height: 50px;
    text-align: center;
}

.backGround-black {
    background-color: black;
}

.slide-text {
    background-color: red;
    width: 250px;
    color: black;
    opacity: 80%;
    font-size: 22px;
    font-weight: bold;
}



.carousel-indicators-width {
    width: 150px;
}

.apresentation {
    background-color: aquamarine;
    display: flex;
    justify-content: center;
}

.apresent_Image {
    margin-top: 50px;
    width: 100%;
    height: 110%;
    align-items: center;
}


.albuns {
    margin: 0px;
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-around;
}

.album {
    margin: 30px;
    width: 350px;
    display: flexbox;
    justify-content: center;
    background-color: rgb(233, 233, 233);
}

.albumMouseOver {
    margin: 30px;
    width: 350px;
    display: flexbox;
    background-color: rgb(243, 243, 243);
    filter:drop-shadow(rgb(197, 197, 197) 10px 10px 5px);
    object-position: 15px 15px ;
    cursor: pointer;
}

.albumMouseOnClick {
    margin: 30px;
    width: 350px;
    display: flexbox;
    justify-content: center;
    background-color: rgb(225, 81, 81);
}

.imgAlbum {    
    background-color: rgb(176, 127, 255);
    width: 350px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;    
}

.albumScale {

    width: 120%;background-color: red;
}

.text-center {
    text-align: center;
}


.test {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.imgs {
    margin: 15px;
    background-color: black;
    display:flexbox;
    flex-direction: column;
    justify-content: center;
    
    padding: 10px;
}

.colorRed {
    color: red;
}

.size40 {
    font-size: 40px;
}

.table {
    background-color: aqua;
    padding-left: 25px;
    padding-right: 25px;
}