body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
}

main {
    padding: 1em;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 1em;
}

.grid-item img {
    width: 100%;
    height: auto;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
}








.carousel-inner {
	height: 100vh !important;
}
.carousel-item{
  height: 80vh;
}
.banner{
  display: flex;
  justify-content: center;
}
.main-menu-logo{
	position: fixed;
	top:0;
	z-index: 100;
	width: 100%;
	background: #b1b1b14f;
}
.navbar-brand{
	font-size: 50px;
  font-weight: bold;
  color: red !important;
}

.navbar-branda{
	font-size: 30px;
  font-weight: bold;
  color: white !important;
}

.nav-item a{
	display: block;
	font-size: 20px;
	font-weight: bold;
	padding: 0px 20px !important;
	color: #fff !important;
}
.nav-item a:hover{
	color: #000 !important;
}
.carousel-caption{
  background-color: #24fbfd;
  align-items: center;
  
}
.carousel-caption h1{
	font-size: 100px;
	letter-spacing: 2px;
	color:  #ffb221;
 
}
.carousel-caption h2{
	font-size: 80px;
	letter-spacing: 2px;
	color:  #24fbfd;
}
.carousel-caption h3{
	font-size: 60px;
	letter-spacing: 2px;
	color:  #c49dff;
}

@media (min-width: 0px) and (max-width: 768px) {
  .carousel-caption{
    bottom: 30%;
    display: block !important;
  }
  
  .carousel-caption h1{
    font-size: 30px;
    letter-spacing: 2px;
  }
  .carousel-caption h2{
    font-size: 20px;
    letter-spacing: 2px;
  }
  .carousel-caption h3{
    font-size: 18px;
    letter-spacing: 2px;
  }

}estContainer {
  background-color: #000;
} 

.testNavBar {
background-color: #d8d8d8;
}





.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4)
}


.modal-content {
  background-color: #b94444;
  margin: 5% ;
  padding: 100px;
  border: 1px solid #888;
  width: 80%;
  overflow-y: auto;
  align-items: center;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
